* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e6f5;
  font-family: sans-serif;
  color: #555;
  display: flex;
}

.container {
  background-color: white;
  margin: 50px auto;
  padding: 40px 30px 15px;
  width: min(90vw, 400px);
}

.back {
  display: flex;
  align-items: center;
  color: #8484c0;
  margin-bottom: 30px;
}

.back svg {
  fill: #8484c0;
}

/* SECTION TASK-PROGRESS */
.create-tasks {
  margin-bottom: 20px;
}
.today {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  font-weight: normal;
  font-size: 36px;
  font-weight: 300;
  color: #3f3f3f;
}

.btn-plus {
  width: 35px;
  height: 35px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: 1.5px solid #8484c0;
  border-radius: 50%;
  cursor: pointer;
}

.btn-plus svg {
  width: 100%;
  fill: #8484c0;
  color: #ff6464;

  /* cancel */

  /* background: none;
  border: none;
  font-size: 16px; */
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-container .enter-task {
  flex: 1;
  margin-right: 10px;
  padding: 5px;
  /* outline: none; */
  border: none;
  font-size: 18px;
  color: #3f3f3f;

  /* border-bottom: 2px solid #8484c0; */
}

.input-container .submit-task {
  align-self: stretch;
  margin-right: 3px;
  padding: 5px;
  font-size: 18px;
  color: #3f3f3f;
  border: none;
  background: none;
  cursor: pointer;
}

/* .task-progress {
 
} */

.progress-status {
  margin-bottom: 30px;
  text-align: center;
  font-size: 18px;
  color: #8484c0;
}

.progress-bar {
  width: 100%;
  height: 15px;
  border: 1px solid #8484c0;
  border-radius: 20px;
  margin-bottom: 10px;
  overflow: hidden;
}

#progress {
  width: 0;
  height: 100%;
  background-color: #8484c0;
  border-radius: 20px;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 20px;
}

/* section Timeline */
.timeline {
  border-top: 1px solid #e3e3e3;
}

h3 {
  font-size: 18px;
  font-weight: 300;
  margin: 30px 0 20px 0;
}

.timeline div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-between;
}

#daily,
#weekly {
  margin-bottom: 15px;
}
